{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
    <h1 style="color:dodgerblue" align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
            <div>
                {#            <a class="list-group-item">#}
                {{ note }}
                <a href="{{ url_for('views.delete_post', id = note.id) }}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
                <a href="{{ url_for('views.edit_post', id = note.id) }}">
                    <button type="button" class="btn btn-info">Edit</button>
                </a>
            </div>
        {% endfor %}

        <form method="post">
            <div align="center">
                <textarea style="background-color:lightyellow" name="note" id="note" class="form-control"></textarea>
                <button type="submit" class="btn btn-primary">Add Note</button>
            </div>
        </form>
{% endblock %}